<div class="card animated fadeIn fast">
    <img class="card-img-top img-fluid" [src]="heroe.img" [alt]="heroe.nombre">
    <div class="card-block">
        <h4 class="card-title">{{heroe.nombre}}</h4>
        <p class="card-text">{{heroe.bio}}</p>
        <p class="card-text"><small class="text-muted">{{heroe.aparicion}}</small></p>
        <!-- eliminamos el parametro i del método verHeroe(): -->
        <button type="button" class="btn btn-outline-primary btn-block" (click)="verHeroe()">Ver más...</button>
    </div>
</div>